<html style="font-family: 'Inconsolata', monospace;">

<head style="font-family: 'Inconsolata', monospace;">
    <link rel="preconnect" href="https://fonts.googleapis.com" style="font-family: 'Inconsolata', monospace;">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin style="font-family: 'Inconsolata', monospace;">
</head>
<body style="font-family: 'Inconsolata', monospace;">
<div style="border: 1px solid #E1E4E8; padding: 32px 16px; border-radius: 6px; width: 80%; max-width: 700px; margin: auto">
    <p style="text-align: center;line-height: 28px;font-family: 'Inconsolata', monospace;">
        We're thrilled to welcome you to our platform! Your account activation is just a click away. To get started and
        unlock the full range of features and benefits, please click on the button below. This link will activate your
        account and ensure you have seamless access to all our services.
    </p>

    <div style="width: fit-content;margin: auto;font-family: 'Inconsolata', monospace;">
        <button style="background-color: #4096ff;color: #fff;border: none;padding: 12px;border-radius: 4px;cursor: pointer;font-family: 'Inconsolata', monospace;">
            <a style="color: #fff; text-decoration: none" href={{ activation_link }}>Activate Your Account</a>
        </button>
    </div>
</div>
</body>
</html>